
header {
  background-image: url("../img/fondoHeader.png"); }

header h1{

	text-align: center;
	font-size: 5em;
	color: #f2fdff;
	margin-top: 4%;
	margin-bottom: 4%;
	font-family: 'Bungee', cursive;
}
section{

	margin-bottom: 50px;
}
.articulo{

	margin-top:20px;
}
.banner{

	width: 100%;
	height: 300px;
	margin-right: 0px;
}
.audio{

	width: 100%;
}

p{
	margin-top:20px;
	margin-bottom: 30px;
	font-size: 1.1em;
	color: #101935;
	font-family: 'Quattrocento Sans', sans-serif;

}
h2
{
	color: #101935;
	font-size: 2em;
	font-family: 'Pangolin', cursive;
}
.tituloImagenes{
	text-align: center;
	margin-top:30px;
}
.imagenes{

	margin-top: 30px;
}
.parrafo{

	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.3em;
	color: #101935;
	font-family: 'Quattrocento Sans', sans-serif;

}
footer {
  background-color: #70939A; }

h3{
	color: #FFFFFF;
	margin-top: 2%;
  	font-size: 1.5em;
  	font-family: 'Quattrocento Sans', sans-serif;
}
h4{
	color: #FFFFFF;
	margin-top: 2%;
  	font-family: 'Quattrocento Sans', sans-serif;
  	font-size: 1em;
}
.social__imagen {
  width: 100%;
  height: 110px;
  margin-top: 5%; }